//service page
body{
    .service_img_div {
        margin-top: 10%;
        height: 75vh;
        border-radius: 2.5%;
    }
}
@media (min-width: 768px) {    
}
@media (min-width: 992px) {

}
@media (min-width: 1441px) {

}