// Colors
$orangeClr: whitesmoke;
$white_smoke_clr: whitesmoke;
$lightGrnClr: #9fe0a2;
$forestGreen: #156115;
$facebook_clr: #1877f2;
$dark_gray: #2E2C28;
$wood_brown: #C19A6B;
$light_gray: #888888;
// Fonts
$font_2-font-family: 'Playfair Display',serif;

$breakpoint-mobile: 480px;
// Navigation
.main_nav{
    background-color: $dark_gray;
}
nav {
    .bookingBtn {
        color: $dark_gray;
        background-color: $wood_brown;
        font-family: 'Arima', cursive;
        font-family: 'Dancing Script', cursive;
        font-size: 2rem;
        border: 2px solid $orangeClr;
    }
    .bookingBtn:hover {
        color: $white_smoke_clr;
        background-color: $dark_gray;
    }
    .bookingBtn_2{
        width: 30%;
    }
    .collapseDiv{
        margin-left: 9%;
    }
    #navImg{
       height: 20vh;
       border-radius: 50%;
    }
    .navTitle {
        font-family: 'Arima', cursive;
        font-family: 'Dancing Script', cursive;
        background-image: linear-gradient(to right, $white_smoke_clr, $wood_brown);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
    }
    #navbarNav {
        background-color: $dark_gray;
    }
    // .pageLinks {
    //     // margin-right: 25%;
    // }
    .navSocialLinks {
        // display: flex;
        // justify-content: center ;
        // flex-direction: column;
        list-style: none;
    }
    .navColumn {
        background-color: #FFFEF2;
    }
    .titleBackgroundClr {
        background-image: linear-gradient(to right, $lightGrnClr, #FFFEF2, #FFFEF2,  #FFFEF2);
        .tbc1 {
            background-image: linear-gradient(to right, #9fe0a2, #9fe0a2,#FFFEF2,#FFFEF2);
            display: flex;
        justify-content: center;
        align-items: center;
        }
        .tbc2 {
            background-image: linear-gradient(to right, #9fe0a2, #FFFEF2, #FFFEF2, blue);
        }
    }
    .nav-item {
        padding: 0.5% 4% 0.5% 4%;
    }
    .socialLinkImg {
        .fa-instagram{
            color: $wood_brown;
        }
        .fa-facebook{
            color:$facebook_clr
        }
    }   
//    .navStuck {

//    }
}
.nav-link{
    cursor: pointer;
    color: $white_smoke_clr;
    font-family: 'Playfair Display', serif;
}
.nav-link:hover{
    color: $wood_brown;
}
// Body ////////////////////////////////////////////////////

body{
    background-image: linear-gradient(to right, #28282B, black);
}
.font_2 {
    font-family: $font_2-font-family;
}
.fst_div_cont{
    // position: relative;
    // background-image: linear-gradient(to bottom right, $white_smoke_clr,);
    // z-index: -2;

//    background-image: url("../images/spa.jpeg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
//     opacity: 0.7;
    .bg_content{
        margin-top: 20%;
        // background-image: url("../images/spa.jpeg");
    
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        
         position: relative;
         .fst_cont_img{
            position: absolute;
            z-index: -3;      }
        .bg_clr{
            position: absolute;
            padding: 47%;
            background-color: $wood_brown;
            opacity: .8;
            z-index: -2;
            border-radius: 5.5%;
        }
        div > div > .bg_gray{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $dark_gray;
            padding: 10%;
            z-index: -1;
            opacity: 0.75;
            border-radius: 0.5%;
        }
        // div > div > h3{
        //     border-radius: 1.5%;
        //     background-color: $dark_gray;
        // }
     } 
}
// Carousel
.carousel {
    //    margin-top: 4%;
    //    margin-left: 20%;
    //    margin-right: 20%;
    //    margin-bottom: 4%;
    .carouselImg {
        height: 20vh;
    }
    .carousel-item{

    }
}

//Map
.map {
    height: 400px;
    width: 100%;
  }

// Foooter
footer {
    position: fixed;
    bottom: 0;
    font-size: 10px;
    .navSocialLinks {
        list-style: none;
    }
    .socialLinkImg {
        .fa-instagram{
            color: $wood_brown;
        }
        .fa-facebook{
            color:$facebook_clr
        }
    }
}
  /////////////
  // Media Queries
  @media (min-width: 768px) {      
    .navTitle{
        margin-left: 15%;
    }
    .nav_link_btns{
        margin-right: 3%;
    }
    .bookingBtn{
        font-size: 30px;
    }
    .fst_div_cont .bg_content .bg_clr{
           
            padding: 18%;
           
            opacity: .5;
    
        }
    

}
@media (min-width: 768px) {      
    .navTitle{
        margin-left: 15%;
    }
    .nav_link_btns{
        margin-right: 3%;
    }
    .bookingBtn{
        font-size: 30px;
    }
    .fst_div_cont .bg_content .bg_clr{ 
            padding: 35%;    
            opacity: .5;
        }
}
@media (min-width: 992px) {
    nav{
        height: 15vh;
        .bookingBtn_2{
            width: 50%;
        }
    }
    .main_nav{
        opacity: .8;
        background-color: $dark_gray;
    }
    .link_container{
        width: 80%;
    }
    .fst_div_cont .bg_content .bg_clr{ 
        padding: 25%;    
    }
}
@media (min-width: 1441px) {
    nav {
        .bookingBtn_2{
            width: 36%;
        }
    }
    .link_container{
        width: 55%;
    }        
    .nav_link_btns{
        margin-right: 6%;
    }
    .fst_div_cont .bg_content .bg_clr{ 
        padding: 15%;    
    }
} 
