// Colors
$orangeClr: whitesmoke;
$white_smoke_clr: whitesmoke;
$lightGrnClr: #9fe0a2;
$forestGreen: #156115;
$facebook_clr: #1877f2;
$dark_gray: #2E2C28;
$wood_brown: #C19A6B;

$breakpoint-mobile: 480px;
// Navigation
.main_nav{
    background-color: $dark_gray;
}
nav {
    .bookingBtn {
        color: $dark_gray;
        background-color: $wood_brown;
        font-family: 'Arima', cursive;
        font-family: 'Dancing Script', cursive;
        font-size: 2rem;
        margin-top: 5%;
        border: 2px solid $orangeClr;
    }
    .bookingBtn_2{
        width: 50%;
    }
    .bookingBtn:hover {
        color: $white_smoke_clr;
        background-color: $dark_gray;
    }
    .collapseDiv{
        margin-left: 9%;
    }
    #navImg{
       height: 20vh;
       border-radius: 50%;
    }
    .navTitle {
        font-family: 'Arima', cursive;
        font-family: 'Dancing Script', cursive;
        background-image: linear-gradient(to right, $white_smoke_clr, $wood_brown);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
    }
    #navbarNav {
        background-color: $dark_gray;
    }
    // .pageLinks {
    //     // margin-right: 25%;
    // }
    .navSocialLinks {
        // display: flex;
        // justify-content: center ;
        // flex-direction: column;
        list-style: none;
    }
    .navColumn {
        background-color: #FFFEF2;
    }
    .titleBackgroundClr {
        background-image: linear-gradient(to right, $lightGrnClr, #FFFEF2, #FFFEF2,  #FFFEF2);
        .tbc1 {
            background-image: linear-gradient(to right, #9fe0a2, #9fe0a2,#FFFEF2,#FFFEF2);
            display: flex;
        justify-content: center;
        align-items: center;
        }
        .tbc2 {
            background-image: linear-gradient(to right, #9fe0a2, #FFFEF2, #FFFEF2, blue);
        }
    }
    .nav-item {
        padding: 0.5% 4% 0.5% 4%;
    }
    .socialLinkImg {
        .fa-instagram{
            color: $wood_brown;
        }
        .fa-facebook{
            color:$facebook_clr
        }
    }   
//    .navStuck {

//    }
}
.nav-link{
    cursor: pointer;
    color: $white_smoke_clr;
    font-family: 'Playfair Display', serif;
}
.nav-link:hover{
    color: $wood_brown;
}
// Body ////////////////////////////////////////////////////

body{
    background-image: linear-gradient(to bottom right, $white_smoke_clr,$dark_gray);
}
    
.fst_div_cont{
    position: relative;
    background-image: linear-gradient(to bottom right, $white_smoke_clr,$dark_gray);
    z-index: -2;

//    background-image: url("../images/spa.jpeg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
//     opacity: 0.7;
    .fst_cont_img{
        opacity: .95;
        position: fixed;
        bottom: 0;
        z-index: -10;
    }
    .bg_content{
        // background-image: url("../images/spa.jpeg");
    
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: center;
        // opacity: 0.7;
        position: absolute;
    } 
}
// Carousel
.carousel {
       margin-top: 4%;
       margin-left: 20%;
       margin-right: 20%;
       margin-bottom: 4%;
    .carouselImg {
        height: 65vh;
    }
}

//Map
.map {
    height: 400px;
    width: 100%;
  }

  /////////////
  // Media Queries

  @media (min-width: 992px) {
    nav{
        height: 15vh;
    }
    .main_nav{
        opacity: .8;
        background-color: $dark_gray;
    }
    .bookingBtn_2{
        width: 0;
    }
    .link_container{
        width: 80%;
    }
   }

   ////
   @media (min-width: 768px) {      
        .navTitle{
            margin-left: 15%;
        }
        .nav_link_btns{
            margin-right: 3%;
        }
        .bookingBtn{
            font-size: 30px;
        }
   }