<footer class="container-fluid d-flex flex-column align-items-center mt-5">   
    <ul class="navSocialLinks d-flex flex-row p-0 pt-4">
      <li class="align-self-center mx-3"><a class="socialLinkImg" href="https://www.instagram.com/willow_and_sage_aesthetics/"><i class="fa-brands fa-instagram fa-3x p-2 p-lg-0"></i></a></li>
      <br>
      <li class="align-self-center mx-3"><a class="socialLinkImg" href="https://m.facebook.com/people/Willow-Sage-Aesthetics/100075325082028/"><i class="fa-brands fa-facebook fa-3x p-2 p-lg-0"></i></a></li>
      <li class="align-self-center mx-3"><a href="https://willowandsageaesthetics.glossgenius.com/"><img class="gg_logo" src="./assets/images/gg.png" alt="GlossGenius"></a></li>
      <!-- <li><a href="https://willowandsageaesthetics.glossgenius.com/services">Book Appointment</a></li> -->
    </ul> 
    <span class="d-flex">
      <strong class="align-self-center">Copyright &copy; </strong> <p class="align-self-center m-0">2021 -</p><span class="this_year align-self-center" style="text-indent: 4px;"></span> 
    </span>      
</footer>