<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body> 
  <%- include('../partials/nav'); %>
  <!-- services -->
  <div class="container">
    <div class="d-flex justify-content-center service_img_div">
      <img class="service_img" src="https://images.squarespace-cdn.com/content/v1/58d7209086e6c087a933e23d/7d521d14-e18d-4696-b905-e0e8536136b8/BluMoonBeauty_0051.jpg?format=2500w" alt="facial">
    </div>
    <div class="container-fluid w-75">
      <h2 class="text-center">Holisic Facial Services</h2>
      <a>Book Now</a>
      <p class="text-white">&nbsp;All of the treatments I offer are customized every step of the way for a one-of-a-kind facial. A time-based facial allows me to treat your skin in the best possible way. Ingredients and modalities are chosen based on the current state of your skin and what your skin goals / concerns are. We will discuss what will be best for you once you come in. Simply choose your preferred length when booking.</p>
      <br>
      <p class="text-white">FACIAL MENU:</p>
      <br>
      <p class="text-white">*90 Minute New Client Into*</p>
      <br>
      <a>90 min / $140</a>
      <br>
      <p>Returning Client Facials:</p>
      <br>
      <div class="d-flex flex-row"><a class="">45 min / $90 </a><p class="">(only for return clients)</p></div>
      <a>75 min / $140</a>
      <a>90 min / $160</a>
      <p>**New clients: I highly recommend booking the 90 Minute New Client Intro. This allows us to create a more personalized plan for your skin during the treatment as well as your home care. This includes 30 minutes for our consultation and 60 minutes for the facial.</p>
      <br>
      <p>&nbsp;Each facial includes a double cleanse, custom-mixed botanical mask, neck and shoulder massage and facial massage. Modalities will be tailored to suit your skin’s needs and may include the following (dependent on our time together): manual lymphatic drainage (Dr. Vodder technique), facial Gua Sha, connective tissue manipulation, light extractions (only if necessary), high frequency, aromatherapy through hydrosols, and LED light therapy (only available for 90 minute treatments).</p>
    </div>
    <div class="container-fluid">
      <h2>BROWSE SERVICES</h2>
      <a>Book Now</a>
      <p>&nbsp;As someone who has gone through brow trauma myself, I love helping others restore brow shape and health in a natural way. Tweezing allows for attention to detail and more control over your brow hairs while protecting even the most sensitive skin. Rest assured, my process for a brow tweeze is quick and comfortable!</p>
      <header>BROW MENU:</header>
      <p>Tweeze / $35</p>
    </div>
    <div class="container-fluid">
      <h2 class="text-white">SUSTAINABILITY SERVICES</h2>
      <a class="text-white">Book Now</a>
      <br></br>
      <p>of my core values as an esthetician is sustainability in the treatment room. I truly believe that we can lessen the load the beauty industry has on our planet if we all start taking small steps. My goal is to help provide practical ideas and ways for you to become sustainable with your skincare too!</p>
      <br>
      <header>Local Offerings</header>>
      <p>Refill!: With your Botnia Skincare face washes (excluding Gentle Cleanser) and toners, you can purchase the aluminum refills inside Pop Society. Wohoo!</p>
      <br>
      <p>erracycle: Do you have empty containers lying around that you’re not sure how to recycle properly? This is your solution! The Terracycle company makes sure that those hard to recycle items get to the right places so they don’t end up in a landfill. Stop by Pop Society to drop off your empty beauty containers in our Terracycle box. All you need to do is make sure they’re empty and clean!</p>
      <br>
      <p>Here is a direct list of the containers accepted by Terracycle**</p>
      <br>
      <p>Eye liner pencils (non-wooden) and cases</p>
      <br>
      <p>Conditioner bottles and caps</p>
      <br>
      <p>Eye shadow tubes</p>
      <br>
      <p>Face soap dispensers and tubes</p>
      <br>
      <p>Hair gel tubes and caps</p>
      <br>
      <p>Hair paste plastic jars and caps</p>
      <br>
      <p>Lip balm tubes</p>
      <br>
      <p>Lip gloss tubes</p>
      <br>
      <p>Lotion bottles, tubes, dispensers, and jars</p>
      <br>
      <p>Mascara tubes</p>
      <br>
      <p>Plastic concealer tubes and sticks</p>
      <br> 
      <p>Shampoo bottles and caps</p>
      <br>
      <p>Shaving foam tubes (no cans)</p>
      <br>
      <p>Spray bottles and triggers</p>
      <br>
      <p>**Directly from Terracycle: Do not send in aerosol or pressurized cans, electronic items such as blow dryers and straighteners, perfume bottles, nail polish bottles or removers, wooden eyeliner pencils, any bio-medical, bio-hazardous waste, or partially full and full packaging (tubes, jars and containers) such as nail-polish, lotion, soap or ointments.</p>
      <br>
      <p>If you are not local, you can find Terracycle boxes in most Nordstrom stores (refill shops often have them too) as a part of their recycling program.</p>
    </div>
  </div>
  <%- include('../partials/footer'); %>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
   <script src="../assets/js/script.js" type="text/javascript"></script>
  </body>
</html>