.main_nav {
  background-color: #2E2C28;
}

nav .bookingBtn {
  color: #2E2C28;
  background-color: #C19A6B;
  font-family: "Arima", cursive;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  border: 2px solid whitesmoke;
}
nav .bookingBtn:hover {
  color: whitesmoke;
  background-color: #2E2C28;
}
nav .bookingBtn_2 {
  width: 30%;
}
nav .collapseDiv {
  margin-left: 9%;
}
nav #navImg {
  height: 20vh;
  border-radius: 50%;
}
nav .navTitle {
  font-family: "Arima", cursive;
  font-family: "Dancing Script", cursive;
  background-image: linear-gradient(to right, whitesmoke, #C19A6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav #navbarNav {
  background-color: #2E2C28;
}
nav .navSocialLinks {
  list-style: none;
}
nav .navColumn {
  background-color: #FFFEF2;
}
nav .titleBackgroundClr {
  background-image: linear-gradient(to right, #9fe0a2, #FFFEF2, #FFFEF2, #FFFEF2);
}
nav .titleBackgroundClr .tbc1 {
  background-image: linear-gradient(to right, #9fe0a2, #9fe0a2, #FFFEF2, #FFFEF2);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .titleBackgroundClr .tbc2 {
  background-image: linear-gradient(to right, #9fe0a2, #FFFEF2, #FFFEF2, blue);
}
nav .nav-item {
  padding: 0.5% 4% 0.5% 4%;
}
nav .socialLinkImg .fa-instagram {
  color: #C19A6B;
}
nav .socialLinkImg .fa-facebook {
  color: #1877f2;
}

.nav-link {
  cursor: pointer;
  color: whitesmoke;
  font-family: "Playfair Display", serif;
}

.nav-link:hover {
  color: #C19A6B;
}

body {
  background-image: linear-gradient(to right, #28282B, black);
}

.font_2 {
  font-family: "Playfair Display", serif;
}

.fst_div_cont .bg_content {
  margin-top: 20%;
  position: relative;
}
.fst_div_cont .bg_content .fst_cont_img {
  position: absolute;
  z-index: -3;
}
.fst_div_cont .bg_content .bg_clr {
  position: absolute;
  padding: 47%;
  background-color: #C19A6B;
  opacity: 0.8;
  z-index: -2;
  border-radius: 5.5%;
}
.fst_div_cont .bg_content div > div > .bg_gray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2E2C28;
  padding: 10%;
  z-index: -1;
  opacity: 0.75;
  border-radius: 0.5%;
}

.carousel .carouselImg {
  height: 20vh;
}
.map {
  height: 400px;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 10px;
}
footer .navSocialLinks {
  list-style: none;
}
footer .socialLinkImg .fa-instagram {
  color: #C19A6B;
}
footer .socialLinkImg .fa-facebook {
  color: #1877f2;
}

@media (min-width: 768px) {
  .navTitle {
    margin-left: 15%;
  }
  .nav_link_btns {
    margin-right: 3%;
  }
  .bookingBtn {
    font-size: 30px;
  }
  .fst_div_cont .bg_content .bg_clr {
    padding: 18%;
    opacity: 0.5;
  }
}
@media (min-width: 768px) {
  .navTitle {
    margin-left: 15%;
  }
  .nav_link_btns {
    margin-right: 3%;
  }
  .bookingBtn {
    font-size: 30px;
  }
  .fst_div_cont .bg_content .bg_clr {
    padding: 35%;
    opacity: 0.5;
  }
}
@media (min-width: 992px) {
  nav {
    height: 15vh;
  }
  nav .bookingBtn_2 {
    width: 50%;
  }
  .main_nav {
    opacity: 0.8;
    background-color: #2E2C28;
  }
  .link_container {
    width: 80%;
  }
  .fst_div_cont .bg_content .bg_clr {
    padding: 25%;
  }
}
@media (min-width: 1441px) {
  nav .bookingBtn_2 {
    width: 36%;
  }
  .link_container {
    width: 55%;
  }
  .nav_link_btns {
    margin-right: 6%;
  }
  .fst_div_cont .bg_content .bg_clr {
    padding: 15%;
  }
}

/*# sourceMappingURL=style.css.map */
